header {
    background-color: #52ce85;
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;;
}

header img {
    width: 60px;
}

a {
    text-decoration: none;
}

header .logo_title h1 {
    margin : 0;
    color: #000000;
    align-items: center;
    display: flex;
    margin-bottom: 5px;
}

header button {
    color: #ffffff;
    border-radius: 25px;
    background-color: #2b7e62;
    border: none;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    
}

.logo_title a {
    display: flex ;
}